<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <a href="/">items</a>
        <a href="/add">add item</a>
        <a href="/reader">finditem</a>
    </nav>
    {{checkid}}
    <form method="POST" action="/found" id="findform">
        {% csrf_token %} 
        <input id="scanner_input2" type="text" name="code">
        <input type="hidden" value="{{checkid}}" id="checkid">
    </form>
    <ul id="itemslist">

    </ul>
    <div class="modal" id="livestream_scanner">
        <div class="modal-dialog">
            <div class="modal-header">
                <h4>Barcode Scanner</h4>
            </div>
            <div class="modal-body">
                <div id="interactive" class="viewport"></div>
            </div>
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/quagga/0.12.1/quagga.min.js"></script>
    <script type="text/javascript">
            // Create the QuaggaJS config object for the live stream
            var liveStreamConfig = {
                    inputStream: {
                        type : "LiveStream",
                        constraints: {
                            width: {min: 1280},
                            height: {min: 720},
                            aspectRatio: {min: 1, max: 100},
                            facingMode: "environment" // or "user" for the front camera
                        }
                    },
                    locator: {
                        patchSize: "medium",
                        halfSample: true
                    },
                    numOfWorkers: (navigator.hardwareConcurrency ? navigator.hardwareConcurrency : 4),
                    decoder: {
                        "readers":[
                            {"format":"ean_reader","config":{}}
                        ]
                    },
                    locate: true
                };
            // Start the live stream scanner
            Quagga.init(
                liveStreamConfig, 
                function(err) {
                    if (err) {
                        Quagga.stop();
                        return;
                    }
                    Quagga.start();
                }
            );
            
            // Make sure, QuaggaJS draws frames an lines around possible 
            // barcodes on the live stream
            Quagga.onProcessed(function(result) {
                var drawingCtx = Quagga.canvas.ctx.overlay,
                    drawingCanvas = Quagga.canvas.dom.overlay;
         
                if (result) {
                    if (result.boxes) {
                        drawingCtx.clearRect(0, 0, parseInt(drawingCanvas.getAttribute("width")), parseInt(drawingCanvas.getAttribute("height")));
                        result.boxes.filter(function (box) {
                            return box !== result.box;
                        }).forEach(function (box) {
                            Quagga.ImageDebug.drawPath(box, {x: 0, y: 1}, drawingCtx, {color: "green", lineWidth: 2});
                        });
                    }
         
                    if (result.box) {
                        Quagga.ImageDebug.drawPath(result.box, {x: 0, y: 1}, drawingCtx, {color: "#00F", lineWidth: 2});
                    }
         
                    if (result.codeResult && result.codeResult.code) {
                        Quagga.ImageDebug.drawPath(result.line, {x: 'x', y: 'y'}, drawingCtx, {color: 'red', lineWidth: 3});
                    }
                }
            });
            
            // Once a barcode had been read successfully, stop quagga and 
            // close the modal after a second to let the user notice where 
            // the barcode had actually been found.
            Quagga.onDetected(function(result) {    		
                if (result.codeResult.code){
                    document.getElementById('scanner_input2').value = result.codeResult.code;
                    document.getElementById('findform').dispatchEvent(new Event('submit'));				
                    Quagga.stop();
                    setTimeout(() => {
                        Quagga.init(
                            liveStreamConfig, 
                            function(err) {
                                if (err) {
                                    Quagga.stop();
                                    return;
                                }
                                Quagga.start();
                            }
                        );
                    },1000)
                }
            });
    </script>
    <script>
        let formData = document.getElementById('findform');
        let link =  'ws://' + window.location.host + '/ws/itemsws/';
        if(window.location.protocol === 'https:') {
            link =  'wss://' + window.location.host + '/ws/itemsws/';
        }
        const socket = new WebSocket(link);
        socket.onmessage = function(event) {
            console.log('message',event);
            let itemdata = JSON.parse(event.data)
            var node = document.createElement("li");                 // Create a <li> node
            var textnode = document.createTextNode(`${itemdata.name} ${itemdata.price}`);         // Create a text node
            node.appendChild(textnode);
            document.getElementById("itemslist").appendChild(node);
        }
        socket.onopen = function(event) {
            console.log('open',event);
            formData.addEventListener('submit', function(e) {
                e.preventDefault();
                socket.send(JSON.stringify({code: document.getElementById('scanner_input2').value, checkid: document.getElementById('checkid').value}));
                document.getElementById('scanner_input2').value = '';
            });
        } 
        socket.onerror = function(event) {
            console.log('error',event);
        }
        socket.onclose = function(event) {
            console.log('close',event);
        }       
    </script>
</body>
</html>